extends layout

block content
  section
    button.btn.btn-primary(type='button', data-toggle='modal', data-target='#thisModal' style='float:right;margin-right:70px' ) Add File Movement
  .container(style='margin-top:20px')
    .col-lg-12(style='width:95%')
      .card
       .card-header
          h3(style='color: black; font-weight: 400;')
              i.flaticon-question
              |&nbsp;&nbsp; Files Movement Record of File No : #{file.fileId}
       .card-body
         #fileList
           input.search(placeholder='Search here' style='margin-left:2px')
           input(type='hidden' id='total' value=movement.length)
           table.table
             thead
               tr
                 th(style='width:15%') Moved From
                 th(style='width:15%') Moved To
                 th(style='width:15%') Moved On
                 th(style='width:55%') Remarks
             tbody.list
               if movement.length == 0
                tr
                 td(colspan='4', style='text-align:center')
                  strong No file movement to display
               else
                each move, index in movement
                   tr
                     td.from
                       strong #{move.from}
                     td.to
                       strong #{move.to}
                     td.on
                       strong #{move.movedOn}
                     td.remark
                       strong #{move.remark}

  #thisModal.modal.fade.text-left(tabindex='-1', role='dialog', aria-labelledby='exampleModalLabel', aria-hidden='true')
     .modal-dialog(role='document')
       .modal-content
         .modal-header
           h4#exampleModalLabel.modal-title Add a New file
           button.close(type='button', data-dismiss='modal', aria-label='Close')
             span(aria-hidden='true') ×
         .modal-body
           form(method='post', action='/file/update/'+file._id)
             .form-group
               label From
               br
               select(name='from', required)
                 each department in departments
                   option(value=department.name) #{department.name}
             .form-group
               label To
               br
               select(name='to', required )
                 each department in departments
                   option(value=department.name) #{department.name}
             .form-group
               label File Moved on
               input.form-control(type='date' name='movedOn' required)
             .form-group
               label Remarks
               textarea.form-control( name='remark' placeholder='Enter remark..') 
             .form-group
               input.btn.btn-primary(type='submit', value='Submit' Style='float:right') 
    
block scripts
  script(src='/js/list.min.js')
  script.
    var total = document.getElementById('total').value;
    var options = {
      valueNames: [ 'from' , 'to', 'movedOn','remark']
    };
    var fileList = new List('fileList', options); 